---
#
# LazyBytez Desktop configurator playbook
#
# Configures an Ubuntu Desktop system with Gnome to match our preferred look and feel.
# Also handles installation of common applications.
#

- name: Lazy Bytez Desktop Configurator
  hosts: localhost
  become: true
  
  roles:
    - common-software
    - lean_delivery.java
    - geerlingguy.nodejs
    - ocha.yarn
    - geerlingguy.php
    - geerlingguy.php-versions
    - geerlingguy.php-pecl
    - geerlingguy.php-redis
    - geerlingguy.php-pgsql
    - geerlingguy.php-pear
    - geerlingguy.php-xdebug
    - darkwizard242.shellcheck
    - docker
    - psh
    - gantsign.keyboard
    - robertdebock.locale
    - petermosmans.customize-gnome

  tasks:
    # === Additional software installd
    - name: Install Golang
      snap:
        name: "go"
        classic: true
        state: present
      tags: [ 'software' ]
    # === Gnome Theme downloads
    - name: Create .themes directory
      file:
        path: "/home/{{ lookup('env', 'USER') }}/.themes"
        state: directory
      tags: [ 'theme' ]
    - name: Check for latest Catppuccin GTK version
      uri:
        url: "https://api.github.com/repos/catppuccin/gtk/releases/latest"
        return_content: yes
      register: catppuccin_gtk_version
      tags: [ 'theme' ]
    - name: Set latest Catppuccin GTK version fact
      set_fact:
        latest_catppuccin_gtk_version: "{{ catppuccin_gtk_version.json.tag_name | regex_search('(update_[0-9]{1,2}_[0-9]{1,2}_[0-9]{1,4})') }}"
      tags: [ 'theme' ]
    - name: Download and unarchive Catpuccin Gnome theme
      unarchive:
        src: https://github.com/catppuccin/gtk/releases/download/{{ latest_catppuccin_gtk_version }}/Catppuccin-purple.zip
        dest: "/home/{{ lookup('env', 'USER') }}/.themes"
        remote_src: yes
      tags: [ 'theme' ]
    # Install icon theme
    - name: Clone Tela-circle icon theme repository
      become: false
      git:
        repo: https://github.com/vinceliuice/Tela-circle-icon-theme.git
        dest: "/home/{{ lookup('env', 'USER') }}/.lazybytez-theme/tela-circle-icon-theme"
        clone: true
        update: true
      register: tela_icon_theme_repository_result
      tags: [ 'theme' ]
    - name: Install Tela-circle icon theme if necessary
      become: false
      command: "./install.sh purple"
      args:
        chdir: "/home/{{ lookup('env', 'USER') }}/.lazybytez-theme/tela-circle-icon-theme"
      when: tela_icon_theme_repository_result.changed
      tags: [ 'theme' ]
    # Load gnome config
    - name: Copy dconf loader
      copy:
        src: "load_dconf.sh"
        dest: "/home/{{ lookup('env', 'USER') }}/.lazybytez-theme/load_dconf.sh"
        owner: "{{ lookup('env', 'USER') }}"
        group: "{{ lookup('env', 'USER') }}"
        mode: 0755
      tags: [ 'theme' ]
    - name: Copy gnome settings
      copy:
        src: "gnome-settings.ini"
        dest: "/home/{{ lookup('env', 'USER') }}/.lazybytez-theme/gnome-settings.ini"
        owner: "{{ lookup('env', 'USER') }}"
        group: "{{ lookup('env', 'USER') }}"
        mode: 0644
      register: gnome_settings_upload
      tags: [ 'theme' ]
    - name: Load gnome settings
      become: false
      command: /home/{{ lookup('env', 'USER') }}/.lazybytez-theme/load_dconf.sh
      when: gnome_settings_upload.changed
      tags: [ 'theme' ]
    # Load Terminator config
    - name: Create Terminator config directory if missing
      file:
        path: "/home/{{ lookup('env', 'USER') }}/.config/terminator/"
        state: directory
      tags: [ 'theme' ]
    - name: Copy Terminator Catppuccin theme
      copy:
        src: "terminator_config"
        dest: "/home/{{ lookup('env', 'USER') }}/.config/terminator/config"
        owner: "{{ lookup('env', 'USER') }}"
        group: "{{ lookup('env', 'USER') }}"
        mode: 0644
      tags: [ 'theme' ]
