---
#
# Install docker-compose
#
- name: Install docker-compose
  get_url:
    url : "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-Linux-{{ ansible_architecture }}"
    dest: /usr/local/bin/docker-compose
    mode: 'u+x,g+x,o+x'
